body {
  margin: 0;
  height: 100vh;
  background: url('./triangles_pattern.jpeg') repeat 0 0;
  animation: animate-bg 4s infinite linear;
}

@keyframes animate-bg {
  100% {
      background-position: 50px 50px;
  }
}

dialog {
  border: none;
  border-radius: 5px;
}

header {
  height: 100px;
  /* background-color: #000040; */
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  /* padding-left: 15vw; */
  /* position: fixed; */
  color: #000040;
  z-index: 20;
}

#header-span {
  border-bottom: 2px solid #000040;
  width: 100%;
  min-width: 800px;
  text-indent: 100px;
}

#master-container {
  min-width: 800px;
  display: flex;
  flex-direction: row;
}

#navbar {
  /* height: calc(100vh - 100px); */
  height: 500px;
  /* max-height: 500px; */
  overflow-y: scroll;
  width: 185px;
  border: none;
  border-radius: 0 0 5px 0;
  position: fixed;
  /* margin: auto 0; */
}

#sortBtnsContainer {
  width: 100%;
  height: 120px;
  /* background-color: gray; */
  margin: 10% auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 10px 0 0;
}

.filter-date-btn, #add-project-btn {
  width: 60%;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.filter-date-btn:hover {
  background-color: #000040;
  color: white;
}

#projects-navbar-container {
  width: 100%;
  /* height: min-content; */
  /* background-color: gray; */
  border-radius: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.proj-nav-item {
  font-size: 22px;
  color: #5c0303;
  cursor: pointer;
}

#add-project-btn {
  margin: 10px auto;
  width: 100%;
  background-color: white;
  color: #000040;
}

#add-project-btn:hover {
  background-color: #000040;
  color: white;
}

#project-list-container {
  width: 100%;
  border-radius: 0;
}

.nav-item {
  margin: 5px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: white;
  border: 2px solid #5c0303;
  padding: 0 5px;
}

#proj-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#main-container {
  top: 110px;
  margin-left: 200px;
  width: 100%;
}

.project-item {
  border: none;
  border-left: 2px solid #000040;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  margin: 50px auto;
}

.project-item-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  flex-direction: row;
}

.new-task-btn {
  background-color: red;
}

.single-task-div {
  /* border-bottom: 2px solid lightgray; */
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 90%;
  min-width: 450px;
  max-width: 700px;
}

.tasks-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-edit-div {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.task-btn-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.task-name-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.task-name {
  margin: 0;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
}

.completion-button {
  border-radius: 50%;
  height: 40px;
  width: 46.311px;


}

.due-date {
  margin: 0;
  font-size: 15px;
  text-indent: 4px;
}

.project-header {
  text-align: center;
  font-size: 32px;
  border-bottom: 2px solid black;
}

.dueDate-taskInfo-div {
  display: flex;
}

.view-task-info {
  margin-left: 5px;
  border: none;
  cursor: pointer;
}

.view-task-info:hover {
  background-color: #000040;
  color: white;
}

.viewing-task-info {
  background-color: #000040;
  color: white;
  pointer-events: none;
}

.task-info-container {
  height: 300px;
}

button {
  cursor: pointer;
}


.task-priority-para, .task-description-para, .task-dueDate-para {
  margin: 0;
  text-indent: 5%;
}

.task-dueDate-label-para, .task-description-label-para, .task-priority-label-para {
  margin: 0;
  text-decoration: underline;
}

.task-info-parent-div {
  margin: 5%;
}

.hide-btn {
  width: 50%;
  height: 40px;
  margin: 0 25%;
  background-color: white;
  border: 3px solid #000040;
  color: #000040;
}

.hide-btn:hover {
  background-color: #000040;
  border: 3px solid #000040;
  color: white;
}

.edit-btn {
  border: 2px solid #000040;
  background-color: white;
  color: #000040;
  border-radius: 7px;
}

.edit-btn:hover {
  border: 2px solid #000040;
  background-color: #000040;
  color: white;
  border-radius: 7px;
}

.delete-project-btn {
  border: 2px solid #5c0303;
  background-color: white;
  color: #5c0303;
  border-radius: 7px;
}

.delete-project-btn:hover {
  border: 2px solid #5c0303;
  background-color: #5c0303;
  color: white;
  border-radius: 7px;
}

.delete-task-btn {
  border: 2px solid #5c0303;
  background-color: white;
  color: #5c0303;
  border-radius: 7px;
}

.delete-task-btn:hover {
  border: 2px solid #5c0303;
  background-color: #5c0303;
  color: white;
  border-radius: 7px;
}

#date-input, #description-input, #priority-input {
  margin: 0 0 10px 10px;
}

#clear-storage-dialog-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#close-clear-storage-btn {
  background-color: white;
  border: 3px solid #000040;
  color: #000040;
  height: 40px;
  width: 300px;
  border-radius: 5px;
}

#close-clear-storage-btn:hover {
  background-color: #000040;
  border: 3px solid #000040;
  color: white;
  border-radius: 5px;
}

#confirm-clear-storage-btn {
  background-color: white;
  border: 3px solid #5c0303;
  color: #5c0303;
}

#confirm-clear-storage-btn:hover {
  background-color: #5c0303;
  border: 3px solid #5c0303;
  color: white;
  border-radius: 5px;
}

#clear-storage {
  background-color: none;
  border: none;
  color: white;
}

#clear-storage:hover {
  color: white;
  background-color: #9c0505;
}

.addTaskBtn {
  background-color: white;
  width: 200px;
  height: 30px;
  color: #000040;
  border: none;
  margin: 0 auto;
}

.addTaskBtn:hover {
  background-color: #000040;
  width: 200px;
  height: 30px;
  color: white;
  border: none;
  font-weight: bold;
}

.addTaskInput {
  border: none;
  width: 300px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
}



/* display_single_project.js */

.projItemDom {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

/* display_tasks.js */

.projItemTaskContainer {
  width: 100%;
}

.soloTaskContainer {
  width: 100%;
  margin: 20px auto;
  /* border-bottom: 3px solid gray; */
}

.titleDateViewParentDiv {
  display: flex;
}

.taskTitleContainer {
  display: flex;
  justify-content: space-between;
}

.completionBtn {
  width: 20px;
  height: 75px;
  position: relative;
  margin: auto 18px auto 0;
}

.taskTitle {
  margin: 10px 0 5px 0;
  font-size: 24px;
}

.taskDuedate {
  margin: 0 0 0 10px;
  font-size: 18px;
}

.viewTaskInfoBtn {
  margin: auto 0 auto 5px;
  font-size: 15px;
  border: none;
  background-color: white;
  height: 40px;
  width: 50px;
}

.viewTaskInfoBtn:hover, .editTaskBtn:hover {
  background-color: #000040;
  color: white;
}

/* display_task_info.js */

.taskInfoContainer {
  /* margin: 10px 0 10px 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskInfoInfoContainer {
  margin: 10px 0 10px 40px;
}

.viewingTaskInfo {
  background-color: #000040;
  color: white;
  border: none;
}

.taskInfoDuedateLabel {
  margin-top: 20px;
}

.taskInfoDuedateLabel, .taskInfoPriorityLabel, .taskInfoDescriptionLabel {
  text-decoration: underline;
  font-weight: 600;
}
.taskInfoDuedate, .taskInfoPriority, .taskInfoDescription {
  margin-left: 10px;
  margin-bottom: 20px;
}

.editTaskBtn {
  font-size: 15px;
  border: none;
  background-color: white;
  height: 40px;
  width: 50px;
}

/* display_projects.js */

.navbarProjContainer {
  display: flex;
  justify-content: space-between;
  width: 185px;
  margin: 10px auto;
  background-color: white;
  border-radius: 5pxx;
}

.navbarProjContainer:hover {
  background-color: #000040;
  color: white;
}

.navbar-list-container {
  width: 100%;
}

.navbarProjItem {
  cursor: pointer;
  width: 100%;
  font-size: 21px;
  margin-left: 18px
}

.navbarProjItem:hover {
  background-color: #000040;
  color: white;
}

.deleteNavbarProjItemBtn {
  border: none;
  background-color: white;
}

.deleteNavbarProjItemBtn:hover {
  background-color: #9c0505;
  color: white;
}